
NODE_ENV=production #DO NOT CHANGE

PORT=4000
VERSION=v1
ORIGIN=*

DB_USER=ashok
DB_PASSWORD=secret
DB_DATABASE=eth
DB_PORT=5432

DB_HOST=postgres  #DO NOT CHANGE

JWT_SECRET=7LdPnw30KauR9jg63TJpw2BXixqrgo1j
JWT_EXPIRY=1d

LOCAL_NODE_PROVIDER_URL=http://127.0.0.1:8545

INFURA_API_KEY=
INFURA_PROJECT_ID=
INFURA_PROJECT_SECRET=

NETWORK_NAME=sepolia
CHAIN_ID=11155111


AUCTION_CONTRACT_ADDRESS=0x969f5651B7c9fe3e9E6331C4e4dF9239158bB6a2 #Auction contract deployed on Sepolia testnet
# Contract url => https://sepolia.etherscan.io/address/0x969f5651B7c9fe3e9E6331C4e4dF9239158bB6a2